<!-- footer.njk -->
<footer id="site-footer">
  <div class="container">
    <p class="copyright">&copy; 2016 SPI-STL</p>
    <p class="copyright">Site built by <a href="http://cvharris.com" target="_blank">CV Harris Design, LLC</a></p>
  </div>
</footer>