<!-- top.njk -->
<section id="top">
  <div id="top-section-container">
    <div class="bottom-centered container">
      <h1 class="site-slogan">Stealth Private Investigations</h1>
      <h2 class="site-subtitle">Private Detective - <a href="tel:+1314329-7151">314-329-7151</a></h2>
    </div>
  </div>
</section>