<!-- top.njk -->
<section id="top">
  <div id="top-section-container">
    <div class="vertically-centered container">
      <div class="image-container">
        <img class="website-logo" src="/img/logo.png" />
      </div>
      <h1 class="site-slogan">Stealth Private Investigations</h1>
      <p class="header-info">Your local private investigators for infidelity cases, providing accurate information with state-of-the-art equipment and data</p>
      <a class="action-button" href="tel:+1314329-7151">Call Now: 314-329-7151</a>
      <img class="banner top-image" src="/img/stlatnight.jpg" />
    </div>
  </div>
</section>