<!-- top.njk -->
<section id="top" style="background-image: url(/img/top.jpg);">
  <div id="top-section-container">
    <div class="bottom-centered container">
      <h1 class="site-slogan">Jennifer & Tyler</h1>
      <h2 class="site-subtitle">4-29-17</h2>
    </div>
  </div>
</section>