{% extends '_layouts/layout.njk' %}

{% block config %}
  {# Correct base url pathing for this page #}
  {% set baseUrl = '../' %}
{% endblock %}

{% block site %}
<div id="site">
  <header class="title-bar">
    <div class="title-actions-container container">
      <div class="logo-box left">
        <div class="title">
          <a href="/" class="home-link">
            <img id="logo" class="website-logo" src="/images/logo.png" />
            <span class="website-title">SPI{# {{ meta.title | replace("-", "<br/>") | safe }} #}</span>
            <small>Stealth Private Investigators</small>
          </a>
          <span class="header-phone"><a href="tel:+1314329-7151">314-329-7151</a></span>
        </div>
      </div>
      <div id="menu-reveal" class="menu-button-container right">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </header>
  {% include "nav.njk" %}
  <main id="content-main">
    {% include "private-investigators-blog/blog.njk" %}
    {% include "_layouts/footer.njk" %}
  </main>
</div>
{% endblock %}
