<!-- footer.njk -->
<footer id="site-footer">
  <div class="container">
    <address class="copyright">
      <strong>Stealth Private Investigations</strong><br/>
      101 W. Argonne Dr.<br/>
      Ste. #113<br/>
      St. Louis, MO. 63122<br/>
      <a class="map-lookup" href="https://goo.gl/maps/RUBHKnpCxz62" target="_blank">
        <i class="fa fa-map"></i>&nbsp;Get Directions
      </a>
    </address>
    <p class="copyright">License #2013007953<br/>
    <a href="https://renew.pr.mo.gov/pi-licensee-search-detail.asp?passkey=2369472" target="_blank" class="license-number">Profile on Board of Private Investigators</a></p>
    <p class="copyright">&copy; 2016 SPI-STL</p>
    <hr />
    <p class="copyright">Site built by <a href="http://cvharris.com" target="_blank">CV Harris Design, LLC</a></p>
  </div>
</footer>
