<!-- about.njk -->
<p class="quip">We want our work to give you peace of mind in knowing that you have the full truth.</p>
<div id="license-img" class="image-container bullet">
  <img class="bullet" alt="St. Louis Private Investigator McKee's License" src="/images/st-louis-private-investigator-license.png" />
</div>
<p class="body-text">Most people have never used a private investigator before. We know when a client calls they are usually a little hesitant and under a lot of stress. Our goal is to relieve you of that stress and to get you the information you ask for. We have the same client confidentiality standards you would have with an attorney.</p>
<p class="body-text">Our specialty is infidelity cases in St. Louis, St. Charles, St. Peters, O'Fallon, and surrounding areas of the St. Louis Metropolitan area. If you suspect your spouse or significant other is being unfaithful, you should call us for help now. Your friends can only help so much, and the internet may only help a little better, but we at <strong>Stealth Private Investigations</strong> can help you the most.</p>
<div id="binoculars-img" alt="Private Investigator surveillance to help you catch a cheating spouse" class="image-container positioned circle">
  <img class="" src="/images/private-investigators-surveillance.jpg" />
</div>
<p class="body-text">We’ve handled these cases before, we know how to do it and we have the equipment to get it done. We will be able to get you in-depth information through our private data bases, we will give you video of the surveillance assignments. We’ll be there the whole time to aid and advise you. Your needs are our concern.</p>
<p class="body-text">Not being an oversized firm, your case won’t get lost or put on the back burner. You will receive personal service with frequent progress reports. We are not a Jack-of-all-trades agency, we concentrate on special areas of investigation. SPI is who you need if you have an unfaithful spouse. Our fees will fit your budget.</p>
<div id="monitoring-img" alt="Private Investigators in St. Louis, St. Charles, St. Peters, and O'Fallon to help you find out more information" class="image-container positioned circle">
  <img class="" src="/images/private-investigator-monitoring.jpg" />
</div>
<p class="body-text">We don’t make you fill out a case request online, we will meet with you personally to answer all your questions and get you the needed information for your case. It’s a no-cost personal evaluation of your case and we’ll advise you if the investigation should proceed.</p>
