<!-- faq.njk -->
<dl>
  <dt>How much does it cost to hire a PI?</dt>
  <dd>We usually charge by the hour. Rates depend on the type of work being done. We have a retainer form that explains all fees. The depth of the investigation will determine the cost. The less information you need to know the lower the cost. We also offer <strong>special packages</strong> for lower cost investigations. We can normally work within a person’s budget.</dd>
  <dt>Do you accept credit cards?</dt>
  <dd>Yes, we accept credit cards, checks and cash. We understand that our clients may not wish anyone to know what they are spending their money for.</dd>
  <dt>Do you use a GPS tracker?</dt>
  <dd>Yes, in certain cases we will use a GPS tracker.</dd>
  <dt>Can you tap a cell phone for me?</dt>
  <dd>No, it is illegal to tap some ones cell phone unless it belongs to you and you tell the person that is using it that it is tapped. We can possibly help you there in other ways though.</dd>
  <dt>Can I go with you on your stakeouts?</dt>
  <dd>No.</dd>
  <dt>How do you keep someone from knowing they’re being videoed in a restaurant or bar? </dt>
  <dd>We have covert video cameras disguised as everyday objects.</dd>
  <dt>Do you only handle infidelity cases?</dt>
  <dd>No, we specialize in infidelity cases but we have other services (i.e. missing persons, insurance fraud, etc.).</dd>
  <dt>Can you get video at night?</dt>
  <dd>Yes, we have cameras with infrared capabilities. We also have audio bugs, covert hidden cameras GPS's and more.</dd>
</dl>
