<!-- index.njk -->
{% extends "_layouts/layout.njk" %}

{% block site %}
<div id="site">
  <header class="title-bar">
    <div class="title-actions-container container">
      <div class="logo-box left">
        <div class="title">
          <a href="/" class="home-link">
            <img id="logo" class="website-logo" src="/images/logo.png" />
            <span class="website-title">SPI{# {{ meta.title | replace("-", "<br/>") | safe }} #}</span>
            <small>Stealth Private Investigators</small>
          </a>
          <span class="header-phone"><a href="tel:+1314329-7151">314-329-7151</a></span>
        </div>
      </div>
      <div id="menu-reveal" class="menu-button-container right">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </header>
  {% include "nav.njk" %}
  <main id="content-main">
    {% include "top.njk" %}
    <section id="latest-blog-posts" class="container">
      <h3 class="section-heading"><i class="fa fa-edit"></i>Latest Blog Posts</h3>
      {% for post in site.data.blog | sort(site.data.blog, true, false, 'id') %}
        {% if loop.index < 4 %}
          <div class="latest-post">
            <h4 class="latest-post-title">
              <a href="/private-investigators-blog#{{ post.id }}">
                {{ post.title }} - <time  class="post-published-date" datetime="{{ post.published }}">{{ post.published }}</time>
              </a>
            </h4>
          </div>
        {% endif %}
      {% endfor %}
      <div class="ellipsis">...</div>
      <a class="action-button" href="/private-investigators-blog">Read more blog posts</a>
    </section>
    {% for section in site.data.sections %}
      {% if section.active and section.content %}
      <section id="{{ section.id }}" class="container">
        <h3 class="section-heading"><i class="fa {{ section.menuIcon }}"></i>{{section.label}}</h3>
        {% include section.id + ".njk" ignore missing %}
      </section>
      {% endif %}
    {% endfor %}
    {% include "_layouts/footer.njk" %}
  </main>
</div>
{% endblock %}
