<!-- index.njk -->
{% extends "_layouts/layout.njk" %}

{% block site %}
<div id="site">
  <header class="title-bar">
    <div class="title-actions-container container">
      <div class="logo-box left">
        <div class="title">
          <img id="logo" class="website-logo" src="/images/logo.png" />
          <span class="website-title">SPI{# {{ meta.title | replace("-", "<br/>") | safe }} #}</span>
          <span class="header-phone"><a href="tel:+1314329-7151">314-329-7151</a></span>
        </div>
      </div>
      <div id="menu-reveal" class="menu-button-container right">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </header>
  {% include "nav.njk" %}
  <main id="content-main">
    {% include "top.njk" %}
    {% for section in site.data.sections %}
      {% if section.active and section.content %}
      <section id="{{ section.id }}" class="container">
        <h1 class="section-heading"><i class="fa {{ section.menuIcon }}"></i>{{section.label}}</h1>
        {% include section.id + ".njk" ignore missing %}
      </section>
      {% endif %}
    {% endfor %}
    {% include "_layouts/footer.njk" %}
  </main>
</div>
{% endblock %}
