<!-- testimonials.njk -->
<figure>
  <blockquote>I had suspicions about my wife’s activities while I was out of town on business. SPI was able to get all the information I needed to confirm those suspicions and more. Their professionalism and understanding helped me when I had no one else to turn to.</blockquote>
  <footer>
    <cite class="author">Martin</cite>
    <cite class="citation-title">SPI Client</cite>
  </footer>
</figure>
<figure>
  <blockquote>Jeff was very considerate of my budget and still got exactly the information I needed. He worked very closely with me and kept me up to date. If I would ever need a private detective again Jeff would be my choice.</blockquote>
  <footer>
    <cite class="author">Renee</cite>
    <cite class="citation-title">SPI Client</cite>
  </footer>
</figure>
<figure>
  <blockquote>Jeff explained my costs and alternatives up front. He was literally there 24/7 and kept me up to date with progress reports. He got all the information I requested. I highly recommend SPI.</blockquote>
  <footer>
    <cite class="author">Jerry</cite>
    <cite class="citation-title">SPI Client</cite>
  </footer>
</figure>
<figure>
  <blockquote>I’d recommend SPI anytime. Jeff was brilliant, I would have never been able to get the information I asked him to get for me. I especially appreciated his compassion and understanding. I was very upset and concerned but he put me at ease.</blockquote>
  <footer>
    <cite class="author">Kristina</cite>
    <cite class="citation-title">SPI Client</cite>
  </footer>
</figure>
<figure>
  <blockquote>I was sure my husband was going to meet his mistress when he said he was going on a hunting trip. Jeff watched him the whole time and sent me video. He put my mind at ease knowing my husband was just hunting with his friends.</blockquote>
  <footer>
    <cite class="author">Julie</cite>
    <cite class="citation-title">SPI Client</cite>
  </footer>
</figure>
