<!-- top.njk -->
<section id="top">
  <div id="top-section-container">
    <div class="vertically-centered container">
      <div class="logo-container">
        <img class="website-logo" src="/images/logo.png" />
      </div>
      <h1 class="site-slogan">Stealth Private Investigations</h1>
      <h2 class="header-info">Your local private investigators for infidelity cases, providing accurate information with state-of-the-art equipment and data</h2>
      <a class="action-button" href="tel:+1314329-7151">Call Now: 314-329-7151</a>
      <div class="image-container">
        <img class="banner top-image" alt="St. Louis at night under the surveillance of private investigators" src="/images/st-louis-at-night-under-private-investigators.jpg" />
      </div>
      <p><em>Read more below!</em> <i class="fa fa-hand-o-down"></i></p>
    </div>
  </div>
</section>
